<li><a href="{% url 'main' %}" {% if requests.resolver_match.url_name ==  'main' %}class="active"{% endif %}>домой</a></li>
<li><a href="{% url 'products:index' %}" {% if requests.resolver_match.url_name ==  'products' %}class="active"{% endif %}>продукты</a></li>
<li><a href="{% url 'contact' %}" {% if requests.resolver_match.url_name ==  'contact' %}class="active"{% endif %}>контакты</a></li>
{% if user.is_authenticated %}
<li>
    <a href="{% url 'auth:edit' %}">
        {{ user.first_name|default:'Пользователь' }}
    </a>
</li>
{% endif %}
<li>
    {% if user.is_authenticated %}
      <a href="{% url 'auth:logout' %}">выйти</a>
    {% else %}
      <a href="{% url 'auth:login' %}">войти</a>
    {% endif %}
</li>